* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font", Helvetica, Arial, sans-serif;
    font-size: 14px;
    min-height: 0;
    font-weight: bold;
    color: #ebdbb2;
}

window#waybar {
    background: transparent;
    color: white;
}

tooltip {
  background: rgba(43, 48, 59, 0.5);
  border: 1px solid rgba(100, 114, 125, 0.5);
}
tooltip label {
  color: white;
}

.modules-left {

}
.modules-right {

}
.modules-center {

}
.modules-center,
.modules-left,
.modules-right {
    padding: 0px 6px;
    border-radius: 12px;
    /* border: 2px solid #98971a; */
    background: #282828;
}

#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: white;
    border-bottom: 3px solid transparent;
}

#workspaces button.active {
    color: #1a1b26;
    font-weight: bold;
    border-bottom: 2px solid #98971a;
}

#workspaces button.focused {
    background: #64727D;
    border-bottom: 3px solid white;
}

#mode, #clock, #battery {
    padding: 0 10px;
}

#mode {
    background: #64727D;
    border-bottom: 3px solid white;
}

#clock {
    background-color: transparent;
}

#battery {
    background-color: #ffffff;
    color: black;
}

#battery.charging {
    color: white;
    background-color: #26A65B;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#battery.warning:not(.charging) {
    background: transparent;
    color: transparent;
}
